<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ statusMessage }}</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- <ion-button (click)="connect()">Connect</ion-button> -->
  <div class="content">
    <h3 class="status">{{ statusMessage }}</h3>
    <router-outlet></router-outlet>
    <div class="logo">
      <img src="assets/logo.png" alt="BurazHub">
    </div>
  </div>
</ion-content>