.status {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.8;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.logo {
    width: 30%;
}