<div class="content" *ngIf="isWeatherData">
  asdasdsa
    <div>
      <h2>{{ weatherLJ.city }}</h2>
      <p>Temperature: {{ weatherLJ.temperature }}°C</p>
      <p>Condition: {{ weatherLJ.condition }}</p>
    </div>
    <div>
      <h2>{{ weatherMB.city }}</h2>
      <p>Temperature: {{ weatherMB.temperature }}°C</p>
      <p>Condition: {{ weatherMB.condition }}</p>
    </div>
    <div>
      <h2>{{ weatherCE.city }}</h2>
      <p>Temperature: {{ weatherCE.temperature }}°C</p>
      <p>Condition: {{ weatherCE.condition }}</p>
    </div>
    <div>
      <h2>{{ weatherKP.city }}</h2>
      <p>Temperature: {{ weatherKP.temperature }}°C</p>
      <p>Condition: {{ weatherKP.condition }}</p>
    </div>
</div>