/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
    --ion-color-secondary: #ffffff; /* White for primary color */
    --ion-color-secondary-rgb: 255, 255, 255; /* White in RGB format */
    --ion-color-secondary-contrast: #000000; /* Black for contrast color */
    --ion-color-secondary-contrast-rgb: 0, 0, 0; /* Black in RGB format */
    --ion-color-secondary-shade: #f2f2f2; /* Lighter shade of white */
    --ion-secondary-tint: #e0e0e0; /* Darker shade of white */    
}

:root {
    --ion-color-tertiary: #7f3c8d; /* Base purple color */
    --ion-color-tertiary-rgb: 127, 60, 141; /* Base purple in RGB format */
    --ion-color-tertiary-contrast: #ffffff; /* White for contrast color */
    --ion-color-tertiary-contrast-rgb: 255, 255, 255; /* White in RGB format */
    --ion-color-tertiary-shade: #6d2c7a; /* Darker shade of purple */
    --ion-color-tertiary-tint: #9952a3; /* Lighter shade of purple */
}