<div class="container">
  <!-- <ion-button (click)="connect()">Scan</ion-button> -->
  <ion-button size="large" color="tertiary" routerLink="/companion/weather">
    <ion-icon slot="icon-only" name="cloudy-night-outline" class="home-button"></ion-icon>
  </ion-button>
  <ion-label class="label">weather</ion-label>
  <ion-button size="large" color="tertiary" routerLink="/companion/calendar">
    <ion-icon slot="icon-only" name="calendar-outline" class="home-button"></ion-icon>
  </ion-button>
  <ion-label class="label">calendar</ion-label>
  <ion-button size="large" color="tertiary" routerLink="/companion/reminders">
    <ion-icon slot="icon-only" name="notifications-outline" class="home-button"></ion-icon>
  </ion-button>
  <ion-label class="label">reminders</ion-label>
  <ion-button size="large" color="tertiary" routerLink="/companion/smart-home">
    <ion-icon slot="icon-only" name="home-outline" class="home-button"></ion-icon>
  </ion-button>
  <ion-label class="label">smart home</ion-label>
</div>