<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>{{ statusMessage }}</div>
    <ion-button (click)="scanForDevices()">Scan</ion-button>
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
    <ion-button *ngIf="companionDevice" (click)="connectToDevice()">Connect to device</ion-button>
    <ion-button *ngIf="companionDevice" (click)="sendDataToDevice(0)">Blink</ion-button>
    <ion-button *ngIf="companionDevice" (click)="sendDataToDevice(1)">Toggle</ion-button>
    <ion-button (click)="getWeather('Ljubljana,Slovenia')">Get weather</ion-button>
    <div *ngIf="weatherData">Currently in Ljubljana {{ weatherData.current.temp_c }} °C</div>
  </div>
</ion-content>
